@model IEnumerable<PIAProgWEB.Models.dbModels.ImagenNovedad>

@{
    ViewData["Title"] = "Index";
}
<style>
    .small-image {
        max-width: 100px; /* Puedes ajustar este valor según tus necesidades */
        max-height: 100px; /* Puedes ajustar este valor según tus necesidades */
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNovedad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="small-image">
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNovedadNavigation.IdNovedad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdImagen">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdImagen">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdImagen">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
