@model IEnumerable<PIAProgWEB.Models.dbModels.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Carrito</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productio.Precio)
            </th>
            <th>
                Subtotal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productio.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productio.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UsuarioId })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Sumatoria total -->
<div>
    <strong>Total del Carrito: @Model.Sum(item => item.Subtotal)</strong>
</div>

<div>
    <form method="post" action="@Url.Action("RealizarCompra", "Carrito")">
        <input type="submit" value="Realizar Compra" class="btn btn-primary" />
    </form>
</div>