@model IEnumerable<PIAProgWEB.Models.dbModels.Novedad>

@{
    ViewData["Title"] = "Novedades";
}

<h1>Novedades</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstacionNavigation.IdEstacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNovedad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNovedad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNovedad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
