@model IEnumerable<PIAProgWEB.Models.dbModels.Novedad>

@{
    ViewData["Title"] = "Novedades";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <!-- Añade la siguiente línea para enlazar tu archivo CSS -->
    <link rel="stylesheet" href="~/css/novedad.css" />
</head>
<body>
    <div class="table-container">

        <div class="table-container">
            <h1>Novedades</h1>
            @if (User.IsInRole("Admin"))
            {
                <p>
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </p>
            }
            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            Imagen
                        </th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <!-- Aqui es lo que ve el usuario-->
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @if (ViewBag.ImagenesPorNovedad != null && ViewBag.ImagenesPorNovedad.ContainsKey(item.IdNovedad))
                                {
                                    foreach (var imagen in ViewBag.ImagenesPorNovedad[item.IdNovedad])
                                    {
                                        <img src="@imagen.Imagen" class="small-image" alt="Imagen de la novedad">
                                    }
                                }
                            </td>
                                 <!-- Cosas de admin -->
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.IdNovedad" class="btn btn-warning action-links">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.IdNovedad" class="btn btn-info action-links">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.IdNovedad" class="btn btn-danger action-links">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>
    </div>
</body>
</html>
